{
  "presets": [
    "@babel/preset-typescript",
    ["@babel/preset-env", { "useBuiltIns": "usage" }],
    [
      "@babel/preset-react",
      { "runtime": "automatic", "importSource": "@emotion/react" }
    ]
  ],
  "plugins": [
    "i18next-extract",
    "@babel/plugin-syntax-jsx",
    [
      "import",
      {
        "libraryName": "antd",
        "libraryDirectory": "lib",
        "style": true // or 'css'
      }
    ],
    "inline-react-svg",
    "@emotion/babel-plugin",
    "@babel/plugin-proposal-class-properties"
  ]
}
