.shift-cell {
  height: 1px;
  padding: 0px !important;
  min-width: 130px !important;
  width: calc((100vw - 250px) / 7);
  z-index: 1;
  border-color: #00000020 !important;
}

.scheduler-row td:first-child {
  z-index: 2 !important;
}

@-moz-document url-prefix() {
  .scheduler-row {
    height: 100%;
  }
  .shift-cell {
    height: 100%;
    padding: 0px !important;
    z-index: 1;
  }
}

table tfoot {
  inset-block-end: 0; /* "bottom" */
}

.ant-table-summary {
  background-color: #f0f2f5 !important;
}

.ant-table-summary .ant-table-cell {
  background-color: #f0f2f5 !important;
}
