$border-light: #efefef;
$highlight-background: #fcfcfc;

@mixin firefox-only {
  @at-root {
    @-moz-document url-prefix() {
      & {
        @content;
      }
    }
  }
}

.table-wrapper {
  position: relative;
  z-index: 1;
}

.shift-table {
  width: 100%;
  max-width: 100%;
  min-width: 1200px;
  border-spacing: 0;
  border: 0.5px solid $border-light;
  padding: 0;
  margin: 0;
  background-color: white;
  table-layout: fixed;

  th,
  td {
    border: 0.5px solid $border-light;
  }

  thead {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 3;
    background-color: $highlight-background;
    box-shadow: 0px 2px 2px #00000040;

    tr {
      th {
        font-weight: 600;
        padding: 5px;
      }
    }
  }

  tbody {
    th,
    td {
      height: 1px;

      @include firefox-only {
        height: 100%;
      }
    }
  }

  tfoot {
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    z-index: 2;
    background-color: $highlight-background;
    box-shadow: 0px -2px 2px #00000040;

    tr {
      th {
        font-weight: 600;
        text-align: left;
        padding: 8px;
      }
      td {
        padding: 0 8px;
      }
    }
  }

  th:first-child {
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    z-index: 2;
    width: 250px;
    text-align: left;
  }

  thead th:first-child,
  tfoot th:first-child {
    z-index: 10;
    background-color: $highlight-background;
  }
}
