body {
  margin: 0;
}

#root {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.linkifyInnerStyle {
  color: #1890ff !important;
  font-size: inherit !important;
  text-decoration: underline;
}

.ant-layout-content {
  overflow-y: auto;
}

.ant-layout {
  background-color: white;
}

.str-chat {
  width: 100% !important;
  height: 100% !important;
}

.module-sider {
  background-color: #fbfbfa !important;
}

.module-sider-container {
  display: flex;
  height: 100%;
  flex-direction: column;
  background-color: #fbfbfa;
  padding-top: 10px;
  overflow: auto;
}

.module-sider-content {
  padding: 3px 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 5px;
}

.module-sider-error {
  color: #ff4d4f;
  font-size: 12px;
  margin-top: 5px;
  padding: 5px;
  // Word break
  word-break: break-word;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.module-sider-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  padding-top: 20px;
}

.module-sider-header {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  justify-content: center;
}

.module-sider-menu {
  background-color: #fbfbfa;
  overflow: auto;
}

.module-sider-menu-container {
  overflow-y: auto;
  padding: 10px 0;
  flex: 1;
}

.module-sider-menu .ant-menu-item {
  color: #74726e !important;
}

.module-sider-menu .ant-menu-item-selected {
  background-color: #f1f1f0 !important;
  color: #37352f !important;
}

.ant-list-item-meta-title {
  margin-top: 0;
}

.tasks-tabs-scrollable {
  padding: 0px 24px;
  overflow: auto;

  .ant-tabs-content-holder {
    overflow: auto;
  }
}

.default-alert {
  background-color: #fbfbfa;
  border: 1px solid #d9d9d9;
}

.user-info-modal {
  .ant-modal-confirm-content {
    max-width: 100% !important;
  }
}

.dm-list-item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-left: 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.2s ease-in-out;
  &:hover {
    background-color: #f1f1f0;
  }

  &__container {
    gap: 0;
  }

  &__text {
    color: #74726e;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    flex: auto;
    margin-top: 5px;
    margin-bottom: 1px;
  }

  &__subtext {
    color: #a19f9a;
    font-size: 11px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    flex: auto;
    margin-top: 0;
    margin-bottom: 5px;
  }

  &__avatar {
    flex-shrink: 0;
  }

  &__title {
    display: flex;
    align-items: baseline;
    margin-bottom: 3px;
  }

  &__icon {
    flex-shrink: 0;
    margin-right: 7px;
    font-size: 12px;
  }
}

.task-block-header {
  width: 100%;
  margin-bottom: 10px;

  .ant-page-header-heading-left {
    width: 100%;
  }

  .ant-page-header-heading-title {
    width: 100%;
  }

  .ant-typography {
    width: 95%;
    margin: 0 10px 0 15px !important;
    padding: 0 !important;
  }
}
